
 {% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-15" align="center">
	<br><br><br>
	<div>
<h4> Te hemos enviado un correo con un enlace para restablecer tu contraseña</h4>
<h5>Verificar tu correo en unos instantes enviaremos el link</h5>
<a href="https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1#">Ver correo</a>
</div>
</div>
{% endblock%}
