
{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="content">
	<div class="row">
		<div class="col-md-11">
			<div class="card white-content">
				<div class="card-header">
					<h3> Te hemos enviado un correo con un enlace para restablecer tu contraseña</h3>
					<h5>Verificar tu correo en unos instantes enviaremos el link</h5>
					<a href="https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1#">Ver correo</a>
					<br>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock%}
