
{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-15" align="center">
	<form method="post">
		{% csrf_token %}
		<div class="content">
			<div class="row">
				<div class="col-md-4"></div>

				<div class="col-md-4">
					<div class="card white-content">
						<div class="card-header" align=center>
							<h3 class="modal-title" align="center">Recuperar mi contraseña</h3> 
							<br>
							<h6>Ingrese la direccion del correo que ingreso al momento de registrar su cuenta</h6>
							<br>
							<input type="text" name="email" autofocus maxlength="254" required
							id="id_email" class="form-control" placeholder="Correo"/>

							<br>
							<input type="submit" class="btn btn-primary btn-block" onclick="comprobar()" value="Enviar"/>
							<br>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}
