{% extends 'core/base.html' %}
{% load static %}

{% block title %} Citas {% endblock %}

{% block content %}


<div class="content">
    <div class="row">
        <div class="col-md-11">
			    <div class="card white-content">
            <div class="card-header">
                <h1>Citas habilitadas</h1>
            </div>
				    <div class="card-body">
					    <div class="table-responsive">
                <table class="table table-striped " id="">
                  <thead class=" text-primary">
                    
                      <th>
                        
                      </th>
                      <th>
                        <h4>Fecha</h4>
                      </th>
                      <th>
                        <h4>Hora</h4>
                      </th>
                       <th>
                        <h4>Dentista</h4>
                      </th>
                      <th>
                        <h4>Paciente</h4>
                      </th>

                  </thead>
				   
                  <tbody>
                    {% for c in citas|dictsort:'id' %}
                    <tr>
                            <td>
                        
                            </td>
                            <td >
                              <p><b><font size="4">{{c.fecha}}</font></b></p>
                            </td>
                            <td >
                              <p><b><font size="4">{{c.hora}}</font></b></p>
                            </td>
                            <td >
                              <p><b><font size="4">{{c.dentista.usuario.first_name}} {{c.dentista.usuario.last_name}}</font></b></p>
                            </td>
                            <td>
                              <p><b><font size="4">{{c.paciente.nombres}} {{c.dentista.paciente.apellidos}}</font></b></p>
                            </td>
                            <td>
                             <a href="{% url 'core:citadelete' c.id|slugify%}" >
                                  <i class="tim-icons icon-trash-simple" style= "color:red"  ></i>                            
                              </a>  
                        
                            </td>
                            
							        </tr>
						
                    {% endfor %}
                  </tbody>
                </table>
				      </div>
			      </div>
	        </div>
	      </div>
      </div>
    </div>	  

{% endblock %}