{% extends 'core/base.html' %}
{% load static %}

{% block title %} Expediente {% endblock %}

{% block content %}


<div class="content">
    <div class="row">
        <div class="col-md-4">
			<div class="card white-content">
				<div class="card-body">
					<img  src="{{cita.paciente.foto.url}}"></a>
				</div>
			</div>
	    </div>
		<div class="col-md-7">
			<div class="card white-content">
                <div class="card-header">
                    <h2>{{cita.paciente.nombres}} {{cita.paciente.apellidos}}</h2>
					<hr>
                </div>
                <div class="card-body">
                    <div class="table-responsive ">

                        <table class="table " id="" width=100%>
                            <tr>
                                <td>
                                    <p><font size = 5><i class="fas fa-birthday-cake"></i> &nbsp;{{cita.paciente.nacimiento}}</font></p>
                                </td>
                                <td align = right>
                                    <p><font size = 5><i class="fas fa-mobile-alt"></i> &nbsp;{{cita.paciente.telefono}}</font></p>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><font size = 5><b>Edad:</b> {{cita.paciente.edad}}</font></p>
                                </td>
                                <td align = right>
                                    <p><font size = 5><i class="far fa-envelope"></i>&nbsp;{{cita.paciente.correo}}</font></h3>
                                </td>
                            </tr>					
                        </table>
                        <br><hr>
                    </div>
                </div>
			</div>
	    </div>
		<div class="col-md-4">
			<div class="card white-content">
				<div class="card-body">
					<h2> Alergias</h2>
					<h3>{% for alergia in cita.paciente.alergias.all %}{{ alergia.nombre }}<hr>{% endfor %}</h3>
				</div>
			</div>
	    </div>
		<div class="col-md-7">
			<div class="card white-content">
				<div class="card-header">
					<h2>Agregar informe</h2>
				</div>
				<div class="card-body">

					<form method="post" >{% csrf_token %}
						{{ form.as_p }}
						<hr>
						<div class = "text-center">
						<input type="submit" class = "btn btn-primary btn-block" value= "Agregar" />
						</div>
					</form>
					<hr>
				</div>
			</div>
	    </div>
	</div>
</div>		  


    

{% endblock %}