{% extends 'core/base.html' %}
{% load static %}

{% block title %} Dentistas {% endblock %}

{% block content %}


<div class="content">
    <div class="row">

				 
				{% for dentista in dentista_list|dictsort:'id'  %}
					<div class="col-md-6">
						<div class="card white-content">
							<div class="card-body" align = center>
								
								<table class="table table-sm" id="" width=100%>
									<tr>
										<td>
											<a href="{% url 'core:updatedentista' dentista.id|slugify%}">
												<i class="tim-icons icon-pencil" style= "color:black"></i>                            
											</a> 
										</td>
										<td align = center>
											<h1 align=center>{{dentista.usuario.first_name}} {{dentista.usuario.last_name}}</h1>
										</td>
										<td align = right>
											<a href="{% url 'core:dentistadelete' dentista.id|slugify%}" >
												<i class="tim-icons icon-trash-simple" style= "color:black"></i>                            
											</a>
										</td>
									</tr>						
								</table>
								<img src = {{dentista.foto.url}}>
								<hr>
								<p align=justify><font size=3 color=black>Especialidad: {{dentista.especialidad.nombre}}</font></p>
								<hr>
								<p align=justify><font size=3>{{dentista.biografia}}</font></p>
								<hr>
								<p align=left><font size=3> Tel: {{dentista.telefono}}</font><p>
								<p align=left><font size=3> Email: {{dentista.usuario.email}}</font><p>
							</div>

						</div>
					</div>
				  {% endfor %}
                     
	</div>
</div>		  


    

{% endblock %}