{% extends 'core/base.html' %}
{% load static %}

{% block title %} Medicamentos {% endblock %}

{% block content %}


<div class="content">
    <div class="row">
        <div class="col-md-11">
			<div class="card white-content">
              	<div class="card-header">
              		<h1>Medicamentos</h1>
                   <a href="{% url 'core:nuevomedicamento' %}" class="nav-item">
										<i class="tim-icons icon-simple-add"></i>
										Agregar medicamento
									</a>

				</div>

				<div class="card-body">
					 <div class="table-responsive">
                  <table class="table tablesorter " id="">
				   
                    
                    <tbody>
                    {% for medicamento in medicamento_list|dictsort:'id' %}
                       
                            <td>
                        
                            </td>
                            <td >
                              <p><b><font size="4">{{medicamento.id}}</font></b></p>
                            </td>
                            <td >
                              <p><b><font size="4">{{medicamento.nombre}}</font></b></p>
                            </td>
                            <td>
                               <a href="{% url 'core:updatemedicamento' medicamento.id|slugify%}" class="nav-item">
                              <i class="tim-icons icon-pencil" style= "color:black"></i>                            
                               </a>                 
                            </td>
                            <td>
                                <a href="{% url 'core:medicamentodelete' medicamento.id|slugify%}" >
                                  <i class="tim-icons icon-trash-simple" style= "color:black"  ></i>                            
                              </a>                     
							
                            </td> 
							 </tr>
						
                    {% endfor %}
                    </tbody>
                  </table>
				</div>
			</div>
	    </div>
	</div>
</div>		  


    

{% endblock %}