{% extends 'core/base.html' %}
{% load static %}

{% block title %} <!-- INGRESE EL TITULO DE LA PÁGINA AQUI --> {% endblock %}

{% block content %}


<div class="content">
    <div class="row">
        <div class="col-md-11">
			<div class="card white-content">
              	<div class="card-header">
              		<h1><!-- INGRESE EL ENCABEZADO DE LA PÁGINA AQUI --></h1>
				</div>

				<div class="card-body">
					<!-- INGRESE EL CONTENIDO DE LA PÁGINA AQUI -->
				</div>
			</div>
	    </div>
	</div>
</div>		  


    

{% endblock %}