{% extends 'core/base.html' %}


{% block title %} Nueva Promoción {% endblock %}

{% block content %}


<div class="content">
    <div class="row">
        <div class="col-md-11">
			<div class="card white-content">
              	<div class="card-header">
              		<h1>Agregar Promoción</h1>
				</div>

				<div class="card-body">
					<form method="post" enctype="multipart/form-data">{% csrf_token %}
						{{ form.as_p }}
						<hr>
						<div class = "text-center">
						<input type="submit" class = "btn btn-primary btn-block" value= "Registrar Promoción" />
						</div>
					</form>
				</div>
			</div>
	    </div>
	</div>
</div>		  


    

{% endblock %}