{% extends 'core/base.html' %}
{% load static %}

{% block title %} Tratamientos {% endblock %}

{% block content %}


<div class="content">
    <div class="row">

				 
				{% for tratamiento in tratamiento_list|dictsort:'nombre'  %}
					<div class="col-md-6">
						<div class="card white-content">
							<div class="card-body" align = center>
								
								<table class="table table-sm" id="" width=100%>
									<tr>
										{% if request.user.is_superuser %}
											<td>
												<a href="{% url 'core:tratamientoupdate' tratamiento.id|slugify%}">
													<i class="tim-icons icon-pencil" style= "color:black"></i>                            
												</a> 
											</td>
										{% endif %}
										<td align = center>
											<h1 align=center>{{tratamiento.nombre}}</h1>
										</td>
										{% if request.user.is_superuser %}
											<td align = right>
												<a href= "{% url 'core:tratamientodelete' tratamiento.id|slugify%}">
													<i class="tim-icons icon-trash-simple" style= "color:black"></i>                            
												</a>
											</td>
										{% endif %}
									</tr>						
								</table>
								<img src = {{tratamiento.image.url}}>
								<hr>
								<p align=justify><font size=3>{{tratamiento.descripcion}}</font></p>
								<h1 align = right>$ {{tratamiento.precioNeto}}</h1>
							</div>

						</div>
					</div>
				  {% endfor %}
                     
	</div>
</div>		  


    

{% endblock %}