{% extends 'core/base.html' %}
{% load static %}

{% block title %} Eliminar {% endblock %}

{% block content %}


<div class="content">
    <div class="row">
        <div class="col-md-11">
			<div class="card white-content">
              	<div class="card-header">
              		<h1>Eliminar Tratamiento</h1>
				</div>

				<div class="card-body">
				
  
                        <form action="" method="post">{% csrf_token %}
                              <p align = 'center'>¿Estás seguro de que quieres eliminar tratamiento?</p>
                              <input type="submit" class = "btn btn-danger btn-block" value="Sí, borrar"/>
                        </form>
      
                        

				</div>
			</div>
	    </div>
	</div>
</div>		  


    

{% endblock %}




